<div class="code-sample container">
    <div class="row">
      <div class="info col-4">
        <div class="title">{{ title }}</div>
        <div class="description">{{ description }}</div>
      </div>
      <div class="code-example col-8">
        <div class="app-window">
          <div class="app-bar">
            <div class="app-bar-button"></div>
            <div class="app-bar-button"></div>
            <div class="app-bar-button"></div>
          </div>
          <pre><code class="{{ language }}">{{ code }}</code></pre>
        </div>
      </div>
    </div>
  </div>
</div>