<section id="footer">
  <span>Built with <span style="heart">❤</span> by <a href="https://superdeclarative.com" target="_blank">SuperDeclarative!</a> and the <a href="https://flutterbountyhunters.com" target="_blank">Flutter Bounty Hunters</a></span>
</section>