<section id="funding">
  <div class="container">
    <div class="row">
      <div class="col" style="text-align: center;">
        <h2>FUNDING</h2>

        <h3>PRIMARY FUNDING</h3>
        <a href="https://superlistapp.com" target="_blank"><img src="/images/funders/superlist.png" width="64"></a>

        <h3>SUPPLEMENTAL FUNDING</h3>
        <a href="https://clearful.com" target="_blank"><img src="/images/funders/clearful.png" width="48"></a>
        <a href="https://bringingfire.com" target="_blank"><img src="/images/funders/bringing-fire.png" width="48"></a>
        <a href="https://www.turtleos.com" target="_blank"><img src="/images/funders/turtle.png" width="48"></a>
        <a href="https://reflection.app" target="_blank"><img src="/images/funders/reflection.png" width="48"></a>

        <br><br><br>
        <a href="https://flutterbountyhunters.com" target="_blank" class="btn btn-dark btn-social">Become a Funder</a>
      </div>
    </div>
  </div>
</section>