<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="message">
    <span class="title">{{ title }}</span>
    <span class="subtitle">{{ subtitle }}</span>
  </div>
</section>