<nav class="navbar fixed-top navbar-expand-lg" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/images/logo_small.png" height="32"><span class="name">SUPER EDITOR</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/super-editor/guides">Editor</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/super-reader-guides/quickstart">Reader</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/super-text-field-guides/quickstart">Text Field</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://pub.dev/documentation/super_editor/latest/" target="_blank">API Docs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>