@import "theme";
@import "base_layout";

#hero {
  height: 100vh;
  padding-top: 58px; // push down below navbar

  .featured {
    margin: auto;

    .supplemental-text {
      margin-left: 16px;

      color: #989B9D;
    }

    #activation-command {
      margin: 12px 0;

      display: flex;
      align-items: stretch;

      background: $primaryLight;
      border: 1px solid #2D3236;
      border-radius: 12px;

      .cli {
        flex-grow: 1;

        padding: 16px;

        font-family: monospace;
      }

      .btn.copy {
        width: 64px;

        background: $accent;
        border: none;
        border-radius: 0 12px 12px 0;
      }
    }
  }

  .tagline {
    margin-bottom: 64px;

    font-size: 64px;
    font-weight: bold;
    line-height: 1.0em;
  }

  .logo {
    margin-left: 128px;
  }

  #branding {
    margin: auto;
    transform: translateY(-25%);
  
    text-align: center;
  
    font-family: marketFresh;

    #title {
      margin-top: 24px;
    
      color: WHITE;
      font-size: 84px;
      font-weight: bold;
      letter-spacing: 5px;
    }

    #tagline {
      margin-top: 12px;
    
      color: #FF0000;
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1em;
      letter-spacing: 0.15em;
    }
  }

  .middle {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
  }

  .bottom {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: end;
  }
}

#banner-built-with-static-shock {
  display:block;
  width: 100%;

  padding: 1em;

  background: $primaryLight;

  text-align: center;
}

#content {
  section {
    margin-top: 72px;
  }
}

#synopsis {
  .featured-image {
    width: 200px;

    display:block;
    margin: auto;
    margin-bottom: 24px;
  }

  .title {
    margin-bottom: 0.25rem;

    color: WHITE;
    font-size: 24px;
    font-weight: bold;
  }

  .description {
    color: #6D6D6D;
    font-size: 16px;
  }
}

section.content {
  .title-category {
    color: $accent;
    font-size: 32px;
    text-align: center;
  }

  h2 {
    font-size: 48px;
    text-align: center;
  }

  .tour-section {
    margin-top: 96px;
  }

  p, li {
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
    line-height: 1.4em;
  }

  ul {
    margin-top: 48px;
  }
}

.code-sample {
  margin-bottom: 96px;

  .info {
    .title {
      color: WHITE;
      font-size: 28px;
      font-weight: bold;
    }

    .description {
      color: #6D6D6D;
      font-size: 20px;
    }
  }

  .app-window {
    margin-left: 24px;

    border-radius: 8px;
    background: #1F262A;

    .app-bar {
      height: 42px;

      border-radius: 8px 8px 0 0;
      background: #273136;

      .app-bar-button {
        margin-left: 16px;
        margin-top: 16px;

        float: left;
        width: 16px;
        height: 16px;

        border-radius: 8px;
        background: #1F262A;
      }
    }
  }

  pre > code {
    padding: 1em 2em;

    background: none;
  }
}

.btn-social {
  color: WHITE;

  opacity: 0.5;
  transition: opacity 150ms;

  &:hover {
    opacity: 1.0;
  }
}