<!--
title: About
-->
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | Static Shock</title>

    {{ components.favicon() }}

    {{ components.bootstrapJs() }}

    {{ components.highlightJs() }}

    {{ components.fontAwesome() }}

    <link rel="stylesheet" href="/styles/theme.css">
    <link rel="stylesheet" href="/styles/base_layout.css">
    <link rel="stylesheet" href="/styles/inner_page.css">
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/funders.css">
  </head>

  <body class="inner-page">
    <main>
      {{ components.navbar({"title": title}) }}

      {{
        components.innerPageHeader({
          "title": "About",
          "subtitle": "Super Editor, Super Reader, and Super Text Field"
        })
      }}

      <section class="container" style="margin-top: 48px;">
        <div class="row justify-content-center">
          <div class="col-6">
            <h2>ORIGIN STORY</h2>
            <p>Super Editor began in 2021 when a growing number of companies needed rich text editing, but discovered that the Flutter community had no solution for rich text editing.</p>
            <p>One of those companies that needed rich text editing was a startup called Superlist. Superlist was working to re-invent productivity apps, and that meant editing all sorts of content.</p>
            <p>At the same time, Matt Carroll, a former member of the Flutter team, was starting an open source Flutter and Dart development agency called the Flutter Bounty Hunters.</p>
            <p>This serendipitous moment resulted in the Flutter Bounty Hunters working with Superlist to create Super Editor, a document editing toolkit for Flutter. Superlist would be the first customer, and the primary funder. The Flutter Bounty Hunters would design, implement, and maintain the toolkit. Over time, Super Editor would go on to expand its goals and its funding sources as more and more companies adopted Super Editor for rich content editing.</p>

            <h2>SUPER TEXT FIELD</h2>
            <p>As Super Editor began to deliver rich content editing, companies showed up with a different source of text editing problems - text fields.</p>
            <p>A company called Turtle came to the Flutter Bounty Hunters. They said they needed to customize text field behaviors in ways that Flutter's monolithic text field wouldn't allow. This use-case revealed that Flutter's built-in text field had a number of limitations and a poor developer experience.</p>
            <p>The Flutter Bounty Hunters added a new, completely custom text field to Super Editor, called <code>SuperTextField</code>. This addition was funded by Turtle.</p>
            <p>After demonstrating the value of a compositional text field, Superlist integrated <code>SuperTextField</code> in their app, too.</p>

            <h2>SUPER READER</h2>
            <p>While Superlist is all about content editing, another client called Clearful, needed both read and write modalities.</p>
            <p>Clearful is a journaling app. It's no surprise that a user might want to read an existing journal entry, instead of editing one.</p>
            <p>Clearful funded the creation of <code>SuperReader</code>, a read-only version of <code>SuperEditor</code>.</p>

            <h2>EXPANDING FUNDING</h2>
            <p>As Super Editor proved its value and capability, additional companies became funding clients to help keep the momentum moving forward.</p>
            <p>Those funders include Turtle, Clearful, Bringing Fire, Reflection, and more.</p>
          </div>
        </div>
      </section>

      {{ components.funders() }}
    </main>

    <footer>
      {{ components.footer() }}
    </footer>
  </body>
</html>