<!--
title: Super Editor
layout:
-->
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    {{ components.favicon() }}

    {{ components.bootstrapJs() }}

    {{ components.highlightJs() }}

    {{ components.fontAwesome() }}

    <link rel="stylesheet" href="/styles/theme.css">
    <link rel="stylesheet" href="/styles/base_layout.css">
    <link rel="stylesheet" href="/styles/homepage.css">
    <link rel="stylesheet" href="/styles/funders.css">
  </head>

  <body>
    <main>
      {{ components.navbar({"title": title}) }}

      <section id="hero" class="container-fluid d-flex flex-column">
        <div class="row flex-grow-1 align-content-center">
          <div class="col">
            <div class="container featured">
              <div class="row justify-content-center">
                <div class="col-7">
                  <div class="tagline">
                    A Document Editing &amp;<br>Reading Toolkit<br>for Flutter
                  </div>
                  <span class="label supplemental-text">Add Super Editor:</span>
                  <div id="activation-command">
                    <span class="cli">super_editor: <span class="accent-text">^{{ pub.super_editor.version }}</span></span>
                    <button class="btn btn-primary copy" type="submit" onclick="copyActivationToClipboard();">
                      <i class="fa fa-clone" style="color: black; font-size: 24px; font-weight: bold;"></i>
                    </button>
                  </div>
                </div>
                <div class="col col-auto" style="width: 300px; margin-left: 112px;">
                  <img src="images/logo_big.png" width="256">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center" style="padding: 0 0 72px 0;">
          <div class="col-3" style="text-align: center;">
            <a href="https://github.com/superlistapp/super_editor" target="_blank" class="btn btn-dark btn-social"><img src="images/icons/bxl-github.svg" width="24" style="display:inline; margin-right: 8px;"> GitHub</a>
            <div style="display: inline; width: 24px;">&nbsp;</div>
            <a href="https://discord.gg/8hna2VD32s" target="_blank" class="btn btn-dark btn-social"><img src="images/icons/bxl-discord-alt.svg" width="24" style="display:inline; margin-right: 8px;">Discord</a>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div id="banner-built-with-static-shock">
              <span class="message">This website was built with <a href="https://staticshock.io" target="_blank" class="static-shock">Static Shock!</a></span>
            </div>
          </div>
        </div>
      </section>

      <div id="content">
        <section id="synopsis">
          <div class="container">
            <div class="row">
              <div class="col">
                <img src="images/homepage/synopsis_super-editor.png" class="featured-image">
                <p class="title">A Document Editor</p>
                <p class="description">Configure your very own document editing experience with the <code>SuperEditor</code> widget.</p>
                <a href="/super-editor-guides/quickstart">Get started</a>
              </div>
              <div class="col">
                <img src="images/homepage/synopsis_super-reader.png" class="featured-image">
                <p class="title">A Document Reader</p>
                <p class="description">Configure your very own document reading experience with the <code>SuperReader</code> widget.</p>
                <a href="/super-reader-guides/quickstart">Get started</a>
              </div>
              <div class="col">
                <img src="images/homepage/synopsis_super-text-field.png" class="featured-image">
                <p class="title">A Better Text Field</p>
                <p class="description">Go beyond the limitations of Flutter's built-in text field with <code>SuperTextField</code>.</p>
                <a href="/super-text-field-guides/quickstart">Get started</a>
              </div>
            </div>
          </div>
        </section>

        <section class="content" style="margin-top: 128px;">
          <div class="container">
            <div class="title-category">Super Editor</div>
            <h2>Rapid Tour</h2>

            <div id="features-content-types" class="tour-section container">
              <div class="row">
                <div class="col-4">
                  <img src="images/homepage/features_content-types.png" style="width: 100%; padding: 0 24px;">
                </div>
                <div class="col-6">
                  <h3>Standard Content Types</h3>
                  <p>Super Editor provides support for many standard types of content, out of the box.</p>
                  <ul>
                    <li>Headers</li>
                    <li>Paragraphs</li>
                    <li>Blockquotes</li>
                    <li>Images</li>
                    <li>List Items</li>
                    <li>Horizontal Rules</li>
                    <li>Tasks</li>
                  </ul>
                </div>
              </div>
            </div>

            <div id="features-text-input" class="tour-section container">
              <div class="row">
                <div class="col-6">
                  <h3>Text Input</h3>
                  <p>Super Editor includes common shortcut key combinations, and support for standard Input Method Engine (IME) text input, across Android, iOS, Mac, Windows, and Linux.</p>
                  <ul>
                    <li>Caret movement with arrows (and expansion with <code>Shift</code>)</li>
                    <li><code>Alt + Left/Right</code> to move to next word</li>
                    <li><code>Cmd/Ctrl + Left/Right</code> to move to end of lines</li>
                    <li><code>Cmd/Ctrl + A</code> to select all content</li>
                    <li><code>Cmd/Ctrl + C</code> to copy</li>
                    <li><code>Cmd/Ctrl + X</code> to cut</li>
                    <li><code>Cmd/Ctrl + V</code> to paste</li>
                    <li><code>Tab</code> to indent list items</li>
                    <li>and more...</li>
                  </ul>
                </div>
                <div class="col-4">
                  <img src="images/homepage/features_tap-selection.png" style="width: 100%; padding: 0 24px;">
                </div>
              </div>
            </div>

            <div id="features-adaptive-ui" class="tour-section container">
              <div class="row">
                <div class="col-4">
                  <img src="images/homepage/features_adaptive-ui.png" style="width: 100%; padding: 0 24px;">
                </div>
                <div class="col-6">
                  <h3>Platform Adaptive UI</h3>
                  <p>Super Editor displays appropriate carets, drag handles, and magnifiers for Android, iOS, Mac, Windows, and Linux.</p>
                </div>
              </div>
            </div>

            <div id="features-selection-gestures" class="tour-section container">
              <div class="row">
                <div class="col-6">
                  <h3>Tap Selection</h3>
                  <p>Super Editor includes standard selection behaviors for single, double, and triple taps on text content.</p>
                  <ul>
                    <li>Single-tap to place the caret.</li>
                    <li>Double-tap to select a word.</li>
                    <li>Triple-tap to select a paragraph.</li>
                  </ul>
                </div>
                <div class="col-4">
                  <img src="images/homepage/features_tap-selection.png" style="width: 100%; padding: 0 24px;">
                </div>
              </div>
            </div>

          </div>
        </section>

        {{ components.funders() }}

        <section style="max-width: 800px; margin: auto; margin-top: 100px; margin-bottom: 200px;">
          <h2 style="text-align: center; text-transform: uppercase;">Contributors</h2>
          <p style="text-align: center; color: rgba(255, 255, 255, 0.5);">Thanks to everyone who has helped to build Super Editor!</p>
          <ol style="display: flex; flex-wrap: wrap; justify-content: center; list-style-type: none; margin: 0; margin-top: 32px; padding: 0; text-align: center;">
            {% set contributors = github.superlistapp.super_editor %}
            {% set contributorCount = 15 %}
            {% for contributor in contributors|take(contributorCount) %}
            <li style="display: inline-block; margin: 0; margin-right: 16px; margin-bottom: 16px; padding: 0;">
              <a
                  href="{{ contributor.userUrl }}"
                  target="_blank"
                  title="{{ contributor.userId }}"
                  style="display: inline-block; width: 64px; height: 64px; border-radius: 32px; background-image: url('{{ contributor.avatarUrl }}'); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;"></a>
            </li>
            {% endfor %}

            {% if contributors|length > contributorCount %}
            <li style="display: inline-block; margin: 0; padding: 0;">
              <div style="display: inline-block; margin: 0; padding: 0; width: 64px; height: 64px; border-radius: 32px; background: rgba(255, 255, 255, 0.05); line-height: 64px; text-align: center; vertical-align: middle;">
                +{{  contributors|length - contributorCount  }}
              </div>
            </li>
            {% endif %}
          </ol>
        </section>
      </div>

    </main>

    <footer>
      {{ components.footer() }}
    </footer>

    <script>
      function copyActivationToClipboard() {
        navigator.clipboard.writeText("super_editor: ^{{ pub.super_editor.version }}");
      }
    </script>
  </body>
</html>
