<!--
title: Quickstart
-->
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | Static Shock</title>

    {{ components.favicon() }}

    {{ components.bootstrapJs() }}

    {{ components.highlightJs() }}

    {{ components.fontAwesome() }}

    <link rel="stylesheet" href="/styles/theme.css">
    <link rel="stylesheet" href="/styles/base_layout.css">
    <link rel="stylesheet" href="/styles/inner_page.css">
  </head>

  <body class="inner-page">
    <main>
      {{ components.navbar({"title": title}) }}

      {{
        components.innerPageHeader({
          "title": "Quickstart",
          "subtitle": "Deploy the default editor"
        })
      }}

      <section id="content">
        <p>Super Editor comes with sane defaults to help you get started with an editor experience, quickly. These defaults include support for images, list items, blockquotes, and horizontal rules, as well as selection gestures, and various keyboard shortcuts.<p>
        <p>Drop in the default editor and start editing.</p>
        <h2>Add <code>super_editor</code> to your project</h2>
        <p>To use <code>super_editor</code>, add a dependency in your <code>pubspec.yaml</code>.</p>
        <pre>
          <code language="sh" class="language-sh">
dependencies:
  super_editor: ^0.3.4
          </code>
        </pre>

        <h2>Display an editor</h2>
        <p>A visual editor first requires a logical editor. A logical editor holds an underlying document, which the user edits, and a composer to manage the user's selection.</p>
        <p>Initialize the logical editor.</p>
        <pre>
          <code language="sh" class="language-dart">
class MyApp extends StatefulWidget {
  State&lt;MyApp&gt; createState() => _MyApp();
}

class _MyApp extends State&lt;MyApp&gt; {
  late final Editor _editor;
  late final MutableDocument _document;
  late final MutableDocumentComposer _composer;

  void initState() {
    super.initState();

    _document = MutableDocument(
      nodes: [
        ParagraphNode(
          id: Editor.createNodeId(),
          text: AttributedText(text: ''),
        ),
      ],
    );

    _composer = MutableDocumentComposer();

    _editor = Editor();
  }

  void dispose() {
    _editor.dispose();
    _composer.dispose();
    _document.dispose();

    super.dispose();
  }
}
          </code>
        </pre>

        <p>With the logical pieces ready, you can now display a visual editor. Build a <code>SuperEditor</code> widget and return it from your <code>build()</code> method.</p>

        <pre>
          <code language="sh" class="language-dart">
class _MyApp extends State&lt;MyApp&gt; {
  Widget build(BuildContext context) {
    return SuperEditor(
      editor: _editor,
    );
  }
}
          </code>
        </pre>

        <p>That's all it takes to get started with your very own editor. Run your app, tap in the editor, and start typing!</p>

        <p>The next step is configuration. Check out our <a href="/guides">guides</a> for more help.</p>

      </section>
    </main>

    <footer>
      {{ components.footer() }}
    </footer>
  </body>
</html>