<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | Static Shock</title>

    {{ components.favicon() }}

    {{ components.bootstrapJs() }}

    {{ components.highlightJs() }}

    {{ components.fontAwesome() }}

    <link rel="stylesheet" href="/styles/theme.css">
    <link rel="stylesheet" href="/styles/base_layout.css">
    <link rel="stylesheet" href="/styles/inner_page.css">
    <link rel="stylesheet" href="/styles/guides.css">
  </head>

  <body class="inner-page">
    <main>
      {{ components.navbar({"title": title}) }}

      <div style="height: 200px;">&nbsp;</div>
      <div class="row" style="max-width: 1000px; margin: auto;">
        <nav class="guides-menu fixed gap-2" style="width: 225px;">
          {% for menuItem in docs_menu %}
            <a class="btn btn-primary btn-sm" href="/{{base_path}}{{ menuItem.id }}" role="button">{{ menuItem.title }}</a>
          {% endfor %}
        </nav>
        <section class="guide-content col">
          {{ content }}
        </section>
      </div>
    </main>

    <footer>
      {{ components.footer() }}
    </footer>
  </body>
</html>