name: Test project in a PR
on: [pull_request]
jobs:
  test_mac:
    runs-on: macos-latest
    defaults:
      run:
        # Run everything from within the super_editor project directory
        working-directory: ./super_editor
    steps:
      # Checkout the PR branch
      - uses: actions/checkout@v2
      # Setup Flutter environment
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      # Download all the packages that the app uses
      - run: flutter pub get
      # TODO: run static analysis here when we get to zero analysis warnings
      # Run all tests
      - run: flutter test

  test_windows:
    runs-on: windows-latest
    defaults:
      run:
        # Run everything from within the super_editor project directory
        working-directory: ./super_editor
    steps:
      # Checkout the PR branch
      - uses: actions/checkout@v2
      # Setup Flutter environment
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      # Download all the packages that the app uses
      - run: flutter pub get
      # TODO: run static analysis here when we get to zero analysis warnings
      # Run all tests
      - run: flutter test

  test_linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        # Run everything from within the super_editor project directory
        working-directory: ./super_editor
    steps:
      # Checkout the PR branch
      - uses: actions/checkout@v2
      # Setup Flutter environment
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      # Download all the packages that the app uses
      - run: flutter pub get
      # TODO: run static analysis here when we get to zero analysis warnings
      # Run all tests
      - run: flutter test

  test_super_editor_markdown:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./super_editor_markdown
    steps:
      # Checkout the PR branch
      - uses: actions/checkout@v2
      # Setup Flutter environment
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      # Download all the packages that the app uses
      - run: flutter pub get
      # TODO: run static analysis here when we get to zero analysis warnings
      # Run all tests
      - run: flutter test


  test_attributed_text:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./attributed_text
    steps:
      # Checkout the PR branch
      - uses: actions/checkout@v2

      # Setup Dart
      - uses: dart-lang/setup-dart@v1

      # Install app dependencies
      - run: dart pub get

      # TODO: run static analysis here when we get to zero analysis warnings

      # Run all tests
      - run: dart test
